/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

/* Variables */
:root {
  /* Colors */
  --primary: #78ba97;
  --secondary: #cef2c6;
  --light: #fffef9;
  --light-alt: #f3f3f3;
  --dark: #191919;
  --dark-alt: #282828;
  --white: #ffffff;
  --black: #000000;
  --gray: #5a666c;

  /* Fonts */
  --sans-serif: "Mukta", sans-serif;
}
*::selection {
  background: var(--dark);
  color: var(--light);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Colors */
.text-primary {
  color: var(--primary) !important;
}
.text-secondary {
  color: var(--secondary) !important;
}
.text-light {
  color: var(--light) !important;
}
.text-light-alt {
  color: var(--light-alt) !important;
}
.text-dark {
  color: var(--dark) !important;
}
.text-dark-alt {
  color: var(--dark-alt) !important;
}
.text-white {
  color: var(--white) !important;
}
.text-black {
  color: var(--black) !important;
}
.text-gray {
  color: var(--gray) !important;
}
.bg-primary {
  background: var(--primary) !important;
}
.bg-secondary {
  background: var(--secondary) !important;
}
.bg-light {
  background: var(--light) !important;
}
.bg-light-alt {
  background: var(--light-alt) !important;
}
.bg-dark {
  background: var(--dark) !important;
}
.bg-dark-alt {
  background: var(--dark-alt) !important;
}
.bg-white {
  background: var(--white) !important;
}
.bg-black {
  background: var(--black) !important;
}
.bg-gray {
  background: var(--gray) !important;
}

/* Heading */
.heading {
  font-size: 35px;
  font-weight: 700;
}

/* Form Control */
.form-group {
  display: block;
  position: relative;
  margin-bottom: 15px;
}
.form-group .form-label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 3px;
}
.form-group .form-control {
  display: block;
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  transition: all 0.5s ease;
  color: var(--dark);
  background-color: var(--light-alt);
  border: 1px solid var(--light-alt);
  outline: 0;
}
.form-group .form-control:focus,
.form-group .form-control:active {
  border: 1px solid var(--primary);
}

/* Button */
.button {
  display: inline-block;
  padding: 10px 20px;
  background: var(--primary);
  color: var(--light);
  border: 1px solid var(--primary);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s ease all;
}
.button:hover {
  background: var(--dark);
  border-color: var(--dark);
}
.button-alt {
  display: inline-block;
  padding: 10px 20px;
  background: var(--light-alt);
  color: var(--dark);
  border: 1px solid var(--light-alt);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s ease all;
}
.button-alt:hover {
  border-color: var(--primary);
}
