<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheResumes.Online - Did You Know?</title>
  </head>
  <body
    style="
      background: #f3f3f3;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    "
  >
    <div
      style="
        width: auto;
        max-width: 500px;
        margin: 20px auto;
        padding: 20px;
        background: #fffef9;
      "
    >
      <a
        href="https://theresumes.online"
        style="
          display: block;
          width: auto;
          max-width: 200px;
          overflow: hidden;
          margin: 0 auto 20px;
        "
      >
        <img
          src="https://theresumes.online/src/static/emailer/logo.png"
          alt="TheResumes.Online"
          style="
            width: 100%;
            height: auto;
            object-position: center;
            object-fit: contain;
          "
        />
      </a>

      <div style="background: #f3f3f3">
        <div style="padding: 15px">
          <h1
            style="
              font-size: 22px;
              font-weight: 600;
              color: #333333;
              margin-bottom: 20px;
              text-align: center;
            "
          >
            Now is the time <br />Download your Resume
          </h1>
          <p
            style="
              font-size: 14px;
              font-weight: 400;
              color: #666666;
              margin-bottom: 10px;
            "
          >
            Let's
            <a
              href="https://theresumes.online/login"
              style="color: #6593ec; font-weight: 600; text-decoration: none"
              >get your resume</a
            >
            to the top of your to-do list!
          </p>
          <p
            style="
              font-size: 14px;
              font-weight: 400;
              color: #666666;
              margin-bottom: 10px;
            "
          >
            Did you know that most resumes get filtered out by applicant
            tracking systems (ATS) before a human even sees them? You need an
            ATS-friendly resume to get noticed. We can help you create one!
          </p>
          <a
            href="<%= resetLink %>"
            style="
              background: #78ba97;
              color: #ffffff;
              display: inline-block;
              padding: 10px;
              text-decoration: none;
              border-radius: 5px;
            "
            >Create Your Resume!</a
          >
          <p
            style="
              font-size: 14px;
              font-weight: 400;
              color: #666666;
              margin-bottom: 10px;
            "
          >
            Thank you,
          </p>
          <p
            style="
              font-size: 14px;
              font-weight: 400;
              color: #666666;
              margin-bottom: 10px;
            "
          >
            TheResumes.Online
          </p>
        </div>
      </div>

      <div style="margin-top: 30px; text-align: center">
        <div style="margin: 0 auto 30px; text-align: center">
          <a
            href="https://www.facebook.com/theresumes.online"
            target="_blank"
            style="text-decoration: none; margin: 0 3px"
          >
            <img
              src="https://theresumes.online/src/static/emailer/social/fb.png"
              style="width: 40px"
            />
          </a>
          <a
            href="https://www.instagram.com/theresumes.online/"
            target="_blank"
            style="text-decoration: none; margin: 0 3px"
          >
            <img
              src="https://theresumes.online/src/static/emailer/social/ig.png"
              style="width: 40px"
            />
          </a>
          <a
            href="https://x.com/the_resumes"
            target="_blank"
            style="text-decoration: none; margin: 0 3px"
          >
            <img
              src="https://theresumes.online/src/static/emailer/social/x.png"
              style="width: 40px"
            />
          </a>
          <a
            href="https://www.linkedin.com/showcase/theresumes/about/"
            target="_blank"
            style="text-decoration: none; margin: 0 3px"
          >
            <img
              src="https://theresumes.online/src/static/emailer/social/in.png"
              style="width: 40px"
            />
          </a>
        </div>

        <p style="font-size: 12px; color: #666666">
          To make sure you continue receiving our newsletters, add
          <a
            href="mailto:newsletter@theresumes.online"
            style="text-decoration: none; font-weight: 600; color: #333333"
            >newsletter&#64;theresumes.online</a
          >
          to your address book.
        </p>

        <p style="font-size: 10px; color: #666666">
          <a
            href="https://theresumes.online/unsubscribe/<%= encodeURIComponent(_id) %>"
            style="text-decoration: none; font-weight: 600; color: #333333"
            >Unsubscribe</a
          >
        </p>

        <p style="font-size: 12px; color: #666666">
          <a
            href="https://theresumes.online"
            style="text-decoration: none; font-weight: 600; color: #333333"
            >theresumes.online</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
q
