<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheResumes.Online - Thank You for Choosing Plan</title>
  </head>
  <body
    style="
      background: #f3f3f3;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    "
  >
    <div
      style="
        width: auto;
        max-width: 500px;
        margin: 20px auto;
        padding: 20px;
        background: #fffef9;
      "
    >
      <a
        href="https://theresumes.online"
        style="
          display: block;
          width: auto;
          max-width: 200px;
          overflow: hidden;
          margin: 0 auto 20px;
        "
      >
        <img
          src="https://theresumes.online/src/static/emailer/logo.png"
          alt="TheResumes.Online"
          style="
            width: 100%;
            height: auto;
            object-position: center;
            object-fit: contain;
          "
        />
      </a>

      <div style="background: #f3f3f3">
        <div class="image" style="width: 100%; height: 100%; overflow: hidden">
          <img
            src="https://theresumes.online/src/static/emailer/banners/02.jpg"
            alt=""
            style="width: 100%; height: 100%"
          />
        </div>
        <div style="padding: 15px">
          <p
            style="
              font-size: 14px;
              font-weight: 400;
              color: #333333;
              margin-bottom: 10px;
            "
          >
            <b>Hi <%= name %>,</b>
          </p>
          <p
            style="
              font-size: 14px;
              font-weight: 400;
              color: #666666;
              margin-bottom: 10px;
            "
          >
            Ready to craft a winning resume? Here are some essential tips for
            each section:
          </p>
          <p
            style="
              font-size: 14px;
              font-weight: 400;
              color: #333333;
              margin-bottom: 10px;
            "
          >
            <b>Summary:</b>
          </p>
          <ol
            style="
              font-size: 14px;
              font-weight: 400;
              color: #666666;
              margin-bottom: 10px;
              padding-left: 20px;
            "
          >
            <li style="margin-bottom: 10px">
              Pick 6-8 important skills for the job you want
            </li>
            <li style="margin-bottom: 10px">
              Mention both people skills and job-related skills
            </li>
            <li style="margin-bottom: 10px">
              Keep it short and simple (3 words or less)
            </li>
          </ol>
          <p
            style="
              font-size: 14px;
              font-weight: 400;
              color: #333333;
              margin-bottom: 10px;
            "
          >
            <b>Work History:</b>
          </p>
          <ol
            style="
              font-size: 14px;
              font-weight: 400;
              color: #666666;
              margin-bottom: 10px;
              padding-left: 20px;
            "
          >
            <li style="margin-bottom: 10px">
              Highlight your work experience with specific numbers and
              achievements 
            </li>
            <li style="margin-bottom: 10px">
              Use full job titles instead of abbreviations 
            </li>
            <li style="margin-bottom: 10px">
              Emphasize skills that can be applied to different roles
            </li>
          </ol>
          <p
            style="
              font-size: 14px;
              font-weight: 400;
              color: #333333;
              margin-bottom: 10px;
            "
          >
            <b>Education:</b>
          </p>
          <ol
            style="
              font-size: 14px;
              font-weight: 400;
              color: #666666;
              margin-bottom: 10px;
              padding-left: 20px;
            "
          >
            <li style="margin-bottom: 10px">
              When listing your education, start with the most recent schools
              and degrees.
            </li>
            <li style="margin-bottom: 10px">
              Include high school only if you didn't attend college. 
            </li>
            <li style="margin-bottom: 10px">
              You can also add any relevant coursework if you want
            </li>
          </ol>
          <p
            style="
              font-size: 14px;
              font-weight: 400;
              color: #333333;
              margin-bottom: 10px;
            "
          >
            <b>Skills:</b>
          </p>
          <ol
            style="
              font-size: 14px;
              font-weight: 400;
              color: #666666;
              margin-bottom: 10px;
              padding-left: 20px;
            "
          >
            <li style="margin-bottom: 10px">
              Highlight 6-8 skills relevant to your target role 
            </li>
            <li style="margin-bottom: 10px">
              Include a mix of soft and hard skills 
            </li>
            <li style="margin-bottom: 10px">
              Keep it concise with phrases (3 words or less)Finish your resume
              with confidence!
            </li>
          </ol>
          <a
            href="<%= resetLink %>"
            style="
              background: #78ba97;
              color: #ffffff;
              display: inline-block;
              padding: 10px;
              text-decoration: none;
              border-radius: 5px;
            "
            >Finish My Link</a
          >
          <p
            style="
              font-size: 14px;
              font-weight: 400;
              color: #666666;
              margin-bottom: 10px;
            "
          >
            Thank you,
          </p>
          <p
            style="
              font-size: 14px;
              font-weight: 400;
              color: #666666;
              margin-bottom: 10px;
            "
          >
            TheResumes.Online
          </p>
        </div>
      </div>

      <div style="margin-top: 30px; text-align: center">
        <div style="margin: 0 auto 30px; text-align: center">
          <a
            href="https://www.facebook.com/theresumes.online"
            target="_blank"
            style="text-decoration: none; margin: 0 3px"
          >
            <img
              src="https://theresumes.online/src/static/emailer/social/fb.png"
              style="width: 40px"
            />
          </a>
          <a
            href="https://www.instagram.com/theresumes.online/"
            target="_blank"
            style="text-decoration: none; margin: 0 3px"
          >
            <img
              src="https://theresumes.online/src/static/emailer/social/ig.png"
              style="width: 40px; margin: 0 3px"
            />
          </a>
          <a
            href="https://x.com/the_resumes"
            target="_blank"
            style="text-decoration: none; margin: 0 3px"
          >
            <img
              src="https://theresumes.online/src/static/emailer/social/x.png"
              style="width: 40px"
            />
          </a>
          <a
            href="https://www.linkedin.com/showcase/theresumes/about/"
            target="_blank"
            style="text-decoration: none; margin: 0 3px"
          >
            <img
              src="https://theresumes.online/src/static/emailer/social/in.png"
              style="width: 40px"
            />
          </a>
        </div>

        <p style="font-size: 12px; color: #666666">
          To make sure you continue receiving our newsletters, add
          <a
            href="mailto:newsletter@theresumes.online"
            style="text-decoration: none; font-weight: 600; color: #333333"
            >newsletter&#64;theresumes.online</a
          >
          to your address book.
        </p>

        <p style="font-size: 10px; color: #666666">
          <a
            href="https://theresumes.online/unsubscribe/<%= encodeURIComponent(_id) %>"
            style="text-decoration: none; font-weight: 600; color: #333333"
            >Unsubscribe</a
          >
        </p>

        <p style="font-size: 12px; color: #666666">
          <a
            href="https://theresumes.online"
            style="text-decoration: none; font-weight: 600; color: #333333"
            >theresumes.online</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
