/* Import Styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Resetting Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 100%;
}

:root {
  --temp-primary: var(--dark);
  --temp-secondary: #3949ab;
  --temp-dark: #2f2f2f;
  --temp-dark-alt: #7a7777;
  --temp-light: #ffffff;
  --temp-light-alt: #eaeaea;
}

.temp-content {
  background: var(--temp-light);
  height: 100%;
  padding: 24pt;
}
.temp-content table {
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--temp-light-alt);
}
.temp-content table tr td {
  padding: 15pt;
  vertical-align: top;
  height: 100%;
}
.temp-content table tr td:nth-child(1) {
  width: 175pt;
  padding-left: 0;
}
.temp-content table tr td:nth-child(2) {
  width: calc(100% - 175pt);
  padding-right: 0;
  border-left: 1px solid var(--temp-light-alt);
}
.temp-content p {
  font-size: 10pt;
  line-height: 130%;
  color: var(--temp-dark-alt);
  word-break: break-word;
}

/* Headings */
.temp-heading {
  font-size: 24pt;
  font-weight: 700;
  color: var(--temp-primary);
  text-transform: uppercase;
  letter-spacing: 1pt;
}
.temp-sub-heading {
  font-size: 12pt;
  font-weight: 500;
  color: var(--temp-primary);
  margin: 5pt 0 0;
  text-transform: uppercase;
  letter-spacing: 1pt;
}
.temp-title {
  font-size: 10pt;
  font-weight: 600;
  color: var(--temp-primary);
  text-transform: uppercase;
  letter-spacing: 1pt;
}
.temp-divider {
  margin: 3pt 0 10pt 0;
  height: 3pt;
  width: 30pt;
  background: var(--temp-primary);
  opacity: 1;
}
.temp-spacer {
  padding: 10pt 0;
  height: auto;
  width: 100%;
}
.temp-sidebar .temp-spacer {
  padding: 5pt 0;
  height: auto;
  width: 100%;
}

/* Section */
.temp-section .temp-item {
  padding-bottom: 5pt;
  margin: 0 0 8pt 0;
}
.temp-section .temp-item:last-child {
  margin: 0 0 0 0;
}
.temp-section .temp-item .temp-item-head {
  margin-bottom: 5pt;
}
.temp-section .temp-item .temp-item-head h5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3pt;
  word-break: break-word;
}
.temp-item .temp-item-head h5 b {
  font-size: 11pt;
  font-weight: 600;
  color: var(--temp-primary);
  text-transform: capitalize;
  word-break: break-word;
}
.temp-item .temp-item-head h5 span {
  font-size: 8pt;
  font-weight: 700;
  color: var(--temp-primary);
  text-transform: capitalize;
  word-break: break-word;
}
.temp-item .temp-item-head h6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10pt;
  font-weight: 600;
  color: var(--temp-dark-alt);
  text-transform: capitalize;
  word-break: break-word;
}

/* Sidebar */
.temp-sidebar .temp-contact-info {
  font-size: 8pt;
  font-weight: 700;
  color: var(--temp-primary);
  margin-bottom: 7pt;
  text-transform: uppercase;
}
.temp-sidebar .temp-contact-info span {
  font-size: 11pt;
  font-weight: 400;
  color: var(--temp-dark);
  line-height: 120%;
  word-break: break-word;
  display: block;
  text-transform: capitalize;
}
.temp-sidebar .temp-cont-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10pt;
  margin-bottom: 10pt;
}
.temp-sidebar .temp-cont-icon svg {
  width: 12pt;
  height: 12pt;
}
.temp-sidebar .temp-cont-icon span {
  width: calc(100% - 22pt);
}

.temp-sidebar .side-item {
  margin: 0 0 10pt 0;
}
.temp-sidebar .side-item .side-item-point {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5pt;
  margin-bottom: 3pt;
  word-break: break-word;
}
.temp-sidebar .side-item .side-item-point span,
.temp-sidebar .side-item .side-item-point a,
.temp-sidebar .side-item .side-item-point-down span,
.temp-sidebar .side-item .side-item-point-down a {
  font-size: 9pt;
  font-weight: 600;
  color: var(--temp-dark);
  word-break: break-word;
}
.temp-sidebar .side-item .side-item-point svg {
  font-size: 5pt;
  font-weight: 600;
  color: var(--temp-primary);
}
.temp-sidebar .side-item .side-item-point .side-item-rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3pt;
  width: 40pt;
}
.temp-sidebar .side-item .side-item-point-down {
  display: flex;
  flex-direction: column;
  margin-bottom: 7pt;
}
.temp-sidebar .side-item .side-item-point-down span,
.temp-sidebar .side-item .side-item-point-down a {
  margin-bottom: 5pt;
}
.temp-sidebar .side-item .side-item-point-down b {
  font-size: 10pt;
  font-weight: 500;
  color: var(--temp-primary);
  display: block;
  line-height: 100%;
}
